@model MyDiplomDelivery.ViewModels.O.CreateOrderViewModel
@*    *@
<h2>Создать заказ</h2>
<form method="post" asp-controller="Order" asp-action="Create" enctype="multipart/form-data">     
    
    <label asp-for="Name"></label><br />
    <input asp-for="Name" type="text" placeholder="Name" /><br />
    
    <label asp-for="Description"></label><br/>
    <textarea asp-for="Description" cols="40" rows="3" placeholder="Description"></textarea><br />    

    <label asp-for="From"></label><br />
    <textarea asp-for="From" cols="40" rows="3" class="ad-input__description" placeholder="From"></textarea><br />

    <label asp-for="To"></label><br />
    <textarea asp-for="To" cols="40" rows="3" class="ad-input__description" placeholder="To"></textarea><br />

    <button type="submit">Send data</button>
    <button type="submit" class="show" asp-controller="Home" asp-action="Index">Back</button>  
</form>

@section Links{
    <link rel="stylesheet" href="~/css/Inp.css" asp-append-version="true" />
}