@model MyDiplomDelivery.ViewModels.O.SuccessViewModel

<div>
    <div>Your code to check order => 
        <span id="sourceDiv">@Model.Number</span>
    </div>
    <button onclick="copyToClipboard()">Копировать содержимое div</button>
    <form asp-controller="Home" asp-action="Index">
        <button>Go to home page</button>
    </form>
</div>


@section Scripts {
    <script>
        function copyToClipboard() {
            var sourceDiv = document.getElementById('sourceDiv');
            var range = document.createRange();
            range.selectNode(sourceDiv);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
            
        }
    </script>
}