@model MyDiplomDelivery.ViewModels.O.SuccessViewModel

<div class="position-absolute top-50 start-50 translate-middle">
    <div>Your code to check order => 
        <span id="sourceDiv">@Model.Number</span>
        <button class="btn btn-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="focus" data-bs-content="Cкопированно" onclick="copyToClipboard()">
            Скопировать код
            <img src="~/img/copyIcon.svg" style="height:24px;width:24px" />
        </button>
    </div>


   @*  <a class="show btn btn-primary" asp-controller="Home" asp-action="Index">Back</a> *@
    <form asp-controller="Home" asp-action="Index">
        <button class="w-50 btn btn-lg btn-primary" style="position: relative;left: 50%;transform: translate(-50%, 0); margin-top: 25px;">
            Go to home page
        </button>
    </form>
</div>


@section Scripts {
    <script>
        alert("@Model.Number")  ///чтоьы высввечивало

        function copyToClipboard() {
            var sourceDiv = document.getElementById('sourceDiv');
            var range = document.createRange();
            range.selectNode(sourceDiv);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
        }


        //для вплывающего типо скопированно
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
}