@* @model OrderViewModel *@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>

    <input type="text" id="inputData">
    <button onclick="sendRequest()">Отправить запрос</button>
    <div id="result"></div>



    <button class="show"><a asp-controller="Deliveryman" asp-action="Create" asp-route-num="User.id">Создать//поменять </a></button>
    @* @using (Html.BeginForm("Edit", "Deliveryman", FormMethod.Post))
    {
        <button class="show"><a asp-controller="Deliveryman" asp-action="Edit" asp-route-num="User.id">Изменить статус</a></button>
    } *@
</div>


@section Scripts {<script>
    function sendRequest() {
        const inputData = document.getElementById('inputData').value; // Получаем значение из input
        const JsonData = JSON.stringify({ input: inputData })
        console.log(JsonData);

        fetch('https://localhost:7010/Home/GetOrderDetail', {
            method: 'POST', // Метод запроса
            headers: {
                'Content-Type': 'application/json' // Заголовки запроса
            },
            body: JSON.stringify({ input: inputData }) // Преобразуем данные в JSON и передаем в запрос
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); // Обработка полученного ответа в виде JSON
        })
        .then(data => {
            console.log(data); // Вывод ответа в виде JSON объекта в консоль
            const result = document.querySelector('#result');
            const statusDiv = document.createElement('div');
            

            // Добавляем текст внутрь созданного div
            statusDiv.textContent = "Статус заказа" + data.status;
            
            // Добавляем созданный div в документ
            result.appendChild(statusDiv);
            // Проверяем есть ли комментарий и добавляем если есть 
            if (data.comment != null) {
                const commentDiv = document.createElement('div');
                commentDiv.textContent = "Комментарий по заказу" + data.comment;
                result.appendChild(commentDiv);
            }
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
            alert ("Некоректный запрос")
        });
    }
</script>}