@model MyDiplomDelivery.ViewModels.Delivery.DeliveryCreateViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["Create delivery"]</h2>
<form method="post" asp-controller="Delivery" asp-action="Create" enctype="multipart/form-data">
    <label asp-for="SelectDeliveryMan">@Localizer["SelectDeliveryMan"]</label>
    <select class="form-select" asp-items="Model.DeliveryManList" asp-for="SelectDeliveryMan"></select>

    <label asp-for="SelectDeliveryMan">@Localizer["SelectOrders"]</label>
    <select asp-for="SelectedOrders"
            class="form-control chosen-select form-control-chosen"
            asp-items="Model.OrdersList"
            multiple="multiple"
            data-placeholder="Chose orders"></select>

    <p>
        <input class="show btn btn-lg btn-primary"
               style="margin-top: 12px;"
               type="submit"
               value="@Localizer["Create"]" />
    </p>
</form>
