@model MyDiplomDelivery.ViewModels.Delivery.DeliveryCreateViewModel
@* сделать стили или поменять старые  *@
<h2>Создать заказ</h2>
<form method="post" asp-controller="Delivery" asp-action="Create" enctype="multipart/form-data">
    <select class="form-select" asp-items="Model.DeliveryManList" asp-for="SelectDeliveryMan"></select>

    @Html.Label("Orders")
    @Html.ListBoxFor(model => model.SelectedOrders, new MultiSelectList(Model.OrdersList, "Value", "Text"),
    new { @class = "form-control chosen", multiple = "multiple" })

    <button type="submit">Send data</button>
</form>


@section Links{
    <link rel="stylesheet" href="~/css/Inp.css" asp-append-version="true" />
}