@model AllOrderViewModel

<div>
    <button class="show"><a asp-controller="Delivery" asp-action="Create">Create</a></button>
</div>

@section Scripts{
    <script src="~/js/Color.js" asp-append-version="true"></script>
}
@section Links{
    <link rel="stylesheet" href="~/css/Orders.css" asp-append-version="true" />
}