@model DeliverymanViewModel
@* сделать стили или поменять старые  *@
<h2>Создать Deliveryman</h2>
<form method="post" asp-controller="Deliveryman" asp-action="Create" enctype="multipart/form-data">

    <div class="ad-form__amount ad-form__bottom">
        <p class="ad-input__text--name">FirstName </p>
        <input name="FirstName" type="text" class="ad-input__name" placeholder="FirstName">
    </div>

    <div class="ad-form__description ad-form__bottom">
        <p class="ad-input__text--description">SecondName </p>
        <textarea name="SecondName" cols="40" rows="3" class="ad-input__description" placeholder="SecondName"></textarea>
    </div>

    <div class="ad-form__description ad-form__bottom">
        <p class="ad-input__text--description">LastName </p>
        <textarea name="LastName" cols="40" rows="3" class="ad-input__description" placeholder="LastName"></textarea>
    </div>

    <div class="ad-form__description ad-form__bottom">
        <p class="ad-input__text--description">IsActive </p>
        <select id="IsActive" name="IsActive">
            <option value="True">Active</option>
            <option value="False">Not Active</option>
        </select>
    </div>

    <button type="submit">Send data</button>
</form>


@section Links{
    <link rel="stylesheet" href="~/css/Inp.css" asp-append-version="true" />
}